@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.woff2') format('woff2'),
        url('./fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QuireSansW01';
    src: url('./fonts/QuireSansW01-Bold.woff2') format('woff2'),
        url('./fonts/QuireSansW01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: 'QuireSansW01';
  color: #d8515a;
  font-size: 55px;
}

p{
  font-family: 'Lato';
  color: #d8515a;
}


.container{
  border-top: 20px solid #d8515a;
}

/* .promo-div{
  align-items: center;
  background: #ccc;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em;
}

.promo-div a {
  color: #333;
} */

.topnav{
  align-items: baseline;
  display: flex;
  font-family: 'Lato';
  font-weight: bold;
  justify-content: center;
  margin-bottom: 2em;
}

.btn{
  background-color: #d8515a;
  border: 2px solid #d8515a;
  border-radius: 0.6rem;
  color: white;
  padding: 12px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.btn-nofill{
  background-color: white;
  color: #d8515a;
  border: 2px solid #d39a9e;

}

.nav-link{
  color: #425b7a;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
}

.nav-link-home{
  font-family: 'QuireSansW01';
  color: #d8515a;
  font-size: 45px;
  text-decoration: none;
  padding: 22px;
}


.landing-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  width: 100vw;
}

.landing-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.landing-info .partner-image {
  width: 380px;
}

.landing-info h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}

.landing-info p {
  font-size: 1.5em;
}

.landing-info button {
  border-radius: 1rem;
}

.landing-image {
  position: relative;
  right: -4em;
  width: 750px;
}

.flex-header{
  display: flex;
  margin: 5% 15%;
}

.table{
  width: 90%;
  border-radius: 30px;

}
